@font-face {
  font-family: "Malacitana";
  src: local("MyFont"), url(./styles/Malacitana-Regular.woff) format("woff");

}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 5px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}